*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third);
}

.theme-default {
    --primary: #333343;
    --secondary: #5d6872;
    --third: #c5ccb8;
}

.theme-red {
    --primary: #271d2c;
    --secondary: #e01f3f;
    --third: #fff8ed;
}

img {
    display: block;
}

#root {
    border: 10px solid var(--primary);
    border-radius: 20px;
}

.board{
    display: grid;
    position: relative;
    border: 3px solid var(--primary);
}
.board .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.board img{
    width: 100%;
}
.board .cell.checked{
    background-color: #ffffff !important;
    cursor: initial;
}

.newGame {
    cursor: pointer;
    justify-self: center;
}

.gear {
    justify-self: end;
}

.boardWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border: 3px solid var(--secondary);
    border-radius: 8px;
}

.row {
    display: grid;
    width: 100%;


    &-1 {
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &-2 {
        justify-content: center ;
    }
}

.lose {
    position: absolute;
    top: calc(50% - 51px);
    left: calc(50% - 186px);
    box-shadow: 4px 4px 64px 2px rgba(34, 60, 80,  0.7);
}

.win {
    position: absolute;
    top: calc(50% - 51px);
    left: calc(50% - 162px);
    box-shadow: 4px 4px 64px 2px rgba(34, 60, 80,  0.7);
}

.bomb-counter {
    display: flex;
}

.time-counter {
    display: flex;
}

.select {

    .select__control {
        border-color: var(--primary);
        border-width: 3px;
        background-color: var(--third);
        box-shadow: none;
        min-height: unset;
        padding: 4px 7px;
        cursor: pointer;

        &:hover {
            border-color: var(--primary);
        }
    }

    .select__menu {
        background-color: var(--third);
    }

    .select__option {
        padding: 2px 0;
        display: flex;
        justify-content: center;
        cursor: pointer;

        &--is-selected {
            background-color:  var(--third);
            filter: brightness(0.9);
        }

        &--is-focused {
            background-color:  var(--third);
            filter: brightness(0.9);
        }

        &:active {
            background-color:  var(--third);
        }
    }

    .select__value-container {
        padding: 0;
    }

    .select__single-value {
        margin: 0;
        transform: none;
        position: unset;
        top: unset;
    }

    .select__indicators {
        padding-right: 6px;
    }

    .select__indicator {
        color: #333343;
        padding: 0;

        &:hover {
            color: var(--secondary);
        }
    }
}

.settings-modal {
    width: 600px;
    height: 300px;
    background-color: var(--third);
    border-radius: 4px;

    &__header {
        border-bottom: 1px solid var(--secondary);
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__content {
        padding: 20px;
    }

    &__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__close {
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.modal {
    &__overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        inset: 0;
        background-color: rgba(255, 255, 255, 0.4   );
    }

    &:focus-visible {
        outline: none;
    }
}