*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c5ccb8;
}

img {
    display: block;
}

#root {
    border: 10px solid #333343;
    border-radius: 20px;
}

.board{
    display: grid;
    position: relative;
    border: 3px solid #333343;
}
.board .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.board img{
    width: 100%;
}
.board .cell.checked{
    background-color: #ffffff !important;
    cursor: initial;
}

.newGame {
    cursor: pointer;
}

.boardWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border: 3px solid #5d6872;
    border-radius: 8px;
}

.lose {
    position: absolute;
    top: calc(50% - 51px);
    left: calc(50% - 186px);
    box-shadow: 4px 4px 64px 2px rgba(34, 60, 80,  0.7);
}

.win {
    position: absolute;
    top: calc(50% - 51px);
    left: calc(50% - 162px);
    box-shadow: 4px 4px 64px 2px rgba(34, 60, 80,  0.7);
}

.bomb-counter {
    display: flex;
}

.time-counter {
    display: flex;
}

.select {

    .select__control {
        border-color: #333343;
        border-width: 3px;
        background-color: #c5ccb8;
        box-shadow: none;
        min-height: unset;
        padding: 4px 7px;
        cursor: pointer;

        &:hover {
            border-color: #333343;
        }
    }

    .select__menu {
        background-color: #c5ccb8;
    }

    .select__option {
        padding: 2px 0;
        display: flex;
        justify-content: center;
        cursor: pointer;

        &--is-selected {
            background-color:  #c5ccb8;
            filter: brightness(0.9);
        }

        &--is-focused {
            background-color:  #c5ccb8;
            filter: brightness(0.9);
        }

        &:active {
            background-color:  #c5ccb8;
        }
    }

    .select__value-container {
        padding: 0;
    }

    .select__single-value {
        margin: 0;
        transform: none;
        position: unset;
        top: unset;
    }

    .select__indicators {
        padding-right: 6px;
    }

    .select__indicator {
        color: #333343;
        padding: 0;

        &:hover {
            color: #5d6872;
        }
    }
}