.theme-default {
  --primary: #333343;
  --secondary: #5d6872;
  --third: #c5ccb8;
}

.theme-blood {
  --primary: #271d2c;
  --secondary: #e01f3f;
  --third: #fff8ed;
}

.theme-sky {
  --primary: #2e2b12;
  --secondary: #5da2ca;
  --third: #f8f3fd;
}

.theme-sand {
  --primary: #393829;
  --secondary: #7b7162;
  --third: #e6d69c;
}